@import '~bootstrap/scss/bootstrap';

// $red: #ab1515
// $spqr: #ad00ad

* {
  font-family: 'Times New Roman', Times, serif;
}

.after-auth {
  display: none;
  text-align: center;
}

.before-auth {
  text-align: center;
  vertical-align: bottom;
}
